# Creating a Personalized Maplist Scraper for Splatoon3

In [5]:
import os 
import pandas as pd
import numpy as np
from lxml import html
from lxml import etree
import requests
from bs4 import BeautifulSoup
import re
import datetime

In [6]:
page_url = "https://splatoon3.ink/data/schedules.json"
start_time = []
end_time = []
mode_list = []
map_list = []
text = requests.get(page_url).text
text

import json
data = json.loads(text)

data["data"]["bankaraSchedules"]["nodes"][0] #entire dataset = multiple of these

{'startTime': '2023-10-30T00:00:00Z',
 'endTime': '2023-10-30T02:00:00Z',
 'bankaraMatchSettings': [{'__isVsSetting': 'BankaraMatchSetting',
   '__typename': 'BankaraMatchSetting',
   'vsStages': [{'vsStageId': 9,
     'name': 'Flounder Heights',
     'image': {'url': 'https://splatoon3.ink/assets/splatnet/v2/stage_img/icon/low_resolution/488017f3ce712fca9fb37d61fe306343054449bb2d2bb1751d95f54a98564cae_1.png'},
     'id': 'VnNTdGFnZS05'},
    {'vsStageId': 11,
     'name': "Museum d'Alfonsino",
     'image': {'url': 'https://splatoon3.ink/assets/splatnet/v2/stage_img/icon/low_resolution/b9d8cfa186d197a27e075600a107c99d9e21646d116730f0843e0fff0aaba7dd_1.png'},
     'id': 'VnNTdGFnZS0xMQ=='}],
   'vsRule': {'name': 'Splat Zones', 'rule': 'AREA', 'id': 'VnNSdWxlLTE='},
   'bankaraMode': 'CHALLENGE'},
  {'__isVsSetting': 'BankaraMatchSetting',
   '__typename': 'BankaraMatchSetting',
   'vsStages': [{'vsStageId': 2,
     'name': 'Eeltail Alley',
     'image': {'url': 'https://splatoon3.ink/assets/splatnet/v2/stage_img/icon/low_resolution/898e1ae6c737a9d44552c7c81f9b710676492681525c514eadc68a6780aa52af_1.png'},
     'id': 'VnNTdGFnZS0y'},
    {'vsStageId': 6,
     'name': 'Mincemeat Metalworks',
     'image': {'url': 'https://splatoon3.ink/assets/splatnet/v2/stage_img/icon/low_resolution/de1f212e9ff0648f36cd3b8e0917ef36b3bd51445159297dcb948f34a09f2f05_1.png'},
     'id': 'VnNTdGFnZS02'}],
   'vsRule': {'name': 'Rainmaker', 'rule': 'GOAL', 'id': 'VnNSdWxlLTM='},
   'bankaraMode': 'OPEN'}],
 'festMatchSettings': None}

In [7]:
for entry in data["data"]["bankaraSchedules"]["nodes"]:
    start_time.append(entry["startTime"])
    #end_time.append(entry["endTime"])
    for subentry in entry["bankaraMatchSettings"]: #["bankaraMatchSettings"]:
        if subentry["bankaraMode"] == "OPEN":
            print(subentry["vsRule"]["name"])
            mode_list.append(subentry["vsRule"]["name"])
            for trientry in subentry["vsStages"]:
                map_list.append(trientry["name"])

Rainmaker
Tower Control
Splat Zones
Clam Blitz
Rainmaker
Tower Control
Splat Zones
Clam Blitz
Rainmaker
Tower Control
Splat Zones
Clam Blitz

In [8]:
mode_list

['Rainmaker',
 'Tower Control',
 'Splat Zones',
 'Clam Blitz',
 'Rainmaker',
 'Tower Control',
 'Splat Zones',
 'Clam Blitz',
 'Rainmaker',
 'Tower Control',
 'Splat Zones',
 'Clam Blitz']

In [9]:
map_1 = []
map_2 = []
for i in range(len(map_list)):
    if i%2==0:
        map_1.append(map_list[i])
    else:
        map_2.append(map_list[i])

In [10]:
#pairs = []
#for i in range(0, len(map_list), 2):
#    pairs.append((map_list[i], map_list[i+1]))

#pairs
    
#L = [1, 2, 3, 4, 5, 6]
#L2 = []

#for i in range(0, len(L), 2):
# L2.append((L[i], L[i+1]))

In [11]:
len(mode_list)

12

In [12]:
import pandas as pd
#full_data = {"title" : title_list, "rank_no" : rank_list,"price":price_list,'appid':appid_list,'bundleid':bundleid_list,'crtrids':crtrids_list}
full_data = {"startTime": start_time[:13], "mode":mode_list, "map1": map_1, "map2": map_2} #"endTime": end_time[:12]
full_df=pd.DataFrame(full_data)
full_df.to_csv("splatoon_maps.csv")

In [13]:
splatoon = pd.read_csv("splatoon_maps.csv")
splatoon = splatoon.drop(columns=["Unnamed: 0"])
splatoon

,startTime,mode,map1,map2
0,2023-10-30T00:00:00Z,Rainmaker,Eeltail Alley,Mincemeat Metalworks
1,2023-10-30T02:00:00Z,Tower Control,Undertow Spillway,Hammerhead Bridge
2,2023-10-30T04:00:00Z,Splat Zones,Inkblot Art Academy,Manta Maria
3,2023-10-30T06:00:00Z,Clam Blitz,Hagglefish Market,Shipshape Cargo Co.
4,2023-10-30T08:00:00Z,Rainmaker,Scorch Gorge,Brinewater Springs
5,2023-10-30T10:00:00Z,Tower Control,Um'ami Ruins,Crableg Capital
6,2023-10-30T12:00:00Z,Splat Zones,Museum d'Alfonsino,Humpback Pump Track
7,2023-10-30T14:00:00Z,Clam Blitz,MakoMart,Wahoo World
8,2023-10-30T16:00:00Z,Rainmaker,Barnacle & Dime,Sturgeon Shipyard
9,2023-10-30T18:00:00Z,Tower Control,Flounder Heights,Hammerhead Bridge
10,2023-10-30T20:00:00Z,Splat Zones,Undertow Spillway,Inkblot Art Academy
11,2023-10-30T22:00:00Z,Clam Blitz,Hagglefish Market,Mincemeat Metalworks

In [14]:
from datetime import datetime
import pytz

#datetime.fromisoformat('2020-01-06T00:00:00.000Z'[:-1] + '+00:00')
#datetime.datetime(2020, 1, 6, 0, 0, tzinfo=datetime.timezone.utc)

first = splatoon["startTime"].values[0]

values = []
for i in splatoon["startTime"].values:
    d = datetime.fromisoformat(i[:-1]) #.astimezone(timezone.utc)
    
    utc = pytz.utc.localize(d)
    pst = utc.astimezone(pytz.timezone("America/Los_Angeles"))
    values.append(pst.strftime("%H:%M"))

values

['17:00',
 '19:00',
 '21:00',
 '23:00',
 '01:00',
 '03:00',
 '05:00',
 '07:00',
 '09:00',
 '11:00',
 '13:00',
 '15:00']

In [15]:
splatoon["time"] = values
splatoon = splatoon[["time", "mode", "map1", "map2"]]

In [16]:
splatoon.to_csv("rotations.csv") #save

### All Map Modes:

In [17]:
splatoon

     time           mode                 map1                  map2
0   17:00      Rainmaker        Eeltail Alley  Mincemeat Metalworks
1   19:00  Tower Control    Undertow Spillway     Hammerhead Bridge
2   21:00    Splat Zones  Inkblot Art Academy           Manta Maria
3   23:00     Clam Blitz    Hagglefish Market   Shipshape Cargo Co.
4   01:00      Rainmaker         Scorch Gorge    Brinewater Springs
5   03:00  Tower Control         Um'ami Ruins       Crableg Capital
6   05:00    Splat Zones   Museum d'Alfonsino   Humpback Pump Track
7   07:00     Clam Blitz             MakoMart           Wahoo World
8   09:00      Rainmaker      Barnacle & Dime     Sturgeon Shipyard
9   11:00  Tower Control     Flounder Heights     Hammerhead Bridge
10  13:00    Splat Zones    Undertow Spillway   Inkblot Art Academy
11  15:00     Clam Blitz    Hagglefish Market  Mincemeat Metalworks

### Now, pick 1-2 maps you want to know the schedule of for each mode (i.e. map preferences)

In [18]:
zones = splatoon[splatoon["mode"]=="Splat Zones"]
maps_zones_1 = zones[(zones["map1"]=="Hagglefish Market") | (zones["map2"]=="MantaMaria")]
maps_zones_2 = zones[(zones["map2"]=="Hagglefish Market") | (zones["map2"]=="Manta Maria")]

tower = splatoon[splatoon["mode"]=="Tower Control"]
maps_tower_1 = tower[(tower["map1"]=="Museum d'Alfonsino") | (tower["map2"]=="Sturgeon Shipyard")]
maps_tower_2 = tower[(tower["map2"]=="Museum d'Alfonsino") | (tower["map1"]=="Sturgeon Shipyard")]

rain = splatoon[splatoon["mode"]=="Rainmaker"]
maps_rain_1 = rain[(rain["map1"]=="Eeltail Alley") | (rain["map2"]=="Undertow Spillway")]
maps_rain_2 = rain[(rain["map2"]=="Eeltail Alley") | (rain["map1"]=="Undertow Spillway")]

clams = splatoon[splatoon["mode"]=="Clam Blitz"]
maps_clams_1 = clams[(clams["map1"]=="Shipshape Cargo Co.") | (clams["map2"]=="Shipshape Cargo Co.")]
maps_clams_2 = None

all_modes = pd.concat([maps_zones_1, maps_zones_2, maps_tower_1, maps_tower_2, maps_rain_1, maps_rain_2, 
                       maps_clams_1, maps_clams_2], join="inner")

#all_modes = pd.concat([maps_zones_1, maps_zones_2, maps_tower_1, maps_tower_2, maps_rain_1, maps_rain_2, 
#                       maps_clams_1, maps_clams_2], join="inner")

## Result Table:

In [19]:
all_modes.sort_values(by=["time"]).reset_index().drop(columns=["index"])

    time         mode                 map1                  map2
0  17:00    Rainmaker        Eeltail Alley  Mincemeat Metalworks
1  21:00  Splat Zones  Inkblot Art Academy           Manta Maria
2  23:00   Clam Blitz    Hagglefish Market   Shipshape Cargo Co.

### **Finding:** There are usually 1-4 rotations that match one's map preferences for all modes.